FORMAT: 1A
HOST: https://api.staywoke.org/v1

# API

![StayWoke Logo](https://cdn.staywoke.org/common/github-logo.png "StayWoke Logo")

StayWoke is a community of learners, builders, and activists to create solutions to advance equity and justice in America.

* _Maintained By:_ __[Peter Schmalfeldt](https://twitter.com/mrmidi)__
* _Last Modified:_ __January 1st, 2020__
* _Current API Version:_ __v1.0.0__

__IMPORTANT:__ Currently, our API is only open for select non-commercial use. You can __[Register for an API Key](https://api.staywoke.org)__ if you would like access to our API. We typically review applications within a business day.

[![API Documentation](https://raw.githubusercontent.com/staywoke/api/master/docs/img/apiary.jpg)](http://docs.staywoke.apiary.io)

## Join us on Slack

__[Join us on Slack](https://slack.staywoke.org/bkx7n2)__ if you need help using our API, or you are interested in contributing.

[![Slack Team Invite](https://cdn.staywoke.org/common/slack-invite.png)](https://slack.staywoke.org/bkx7n2)


# Group API Basics

## API Overview

Our API has a default Rate Limit by IP Address to `2500` calls per day. We add the following headers so you can monitor your API Rate:

* __X-Rate-Limit-Limit__: The rate limit ceiling for that given request
* __X-Rate-Limit-Remaining__: The number of requests left for the 24 hour window
* __X-Rate-Limit-Reset__: The remaining window before the rate limit resets in UTC [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)

If a specific IP Address exceeds this limit, the API will return a 429 HTTP JSON Response Error.  A sample of this is provided in the Artwork API endpoint.

## API Authentication

Our API requires an API Key to use.  We are not providing API Keys to the general public at this time.  You likely received an API Key before accessing this documentation, if not, please contact the individual who sent you here.

## You can set the API Key one of two ways

#### Request Header:

* __API-Key__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B` _( this is not an actual API Key )_

#### GET Parameter:

* __?apikey=__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B`

### HTTP Request Method Limits

### Common API Responses

The following parameters are available on every API endpoint and used for pagination
for if there are a lot of results.

+ `notices` (array, optional) - An array of API Notices.  These notices are for the API to let the Developer know something that might be helpful, but will not impact the API results.
+ `warnings` (array, optional) - An array of API Warnings.  These warnings explain why the API might have had issues returning results.
+ `errors` (array, optional) - An array of API Errors.  These errors explain why the API prevented returning results.
+ `field_errors` (object, optional) - If the error was in regards to data entry, any errors specific to an input field will return here with the input name and error message.
+ `meta` (object) - The META data object that contains the basic information about the API response.
+ `meta.total` (number) - Total number of all results.  Not just the number returned in the API call.
+ `meta.showing` (number) - Number of results returned in the current API call ( may be less than total results ).
+ `meta.pages` (number) - Number of pages of results.  This is based on the `total` results divided by the `pageSize`.
+ `meta.page` (number) - Current Page
+ `data` (object or array) - This is the the actual data returned for the API call.  For API calls that are expected to return a single result, the `data` will be an Object.  For API calls that are expecting multiple items returned, `data` will be returned as an array ( even if there is only one item returned, such as search results, etc ).
+ `data.staywoke_url` (string) - This will exist for results that have custom pages on the https://staywoke.org website.

__Response 200:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": [],
    "field_errors": {},
    "meta": {
        "total": 97,
        "showing": 30,
        "pages": 4,
        "page": 1
    },
    "data": [
        ...
    ]
}
```

__Response 403:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": ["Missing API Key"],
    "field_errors": {},
    "meta": {
        "total": 0,
        "showing": 0,
        "pages": 1,
        "page": 1
    },
    "data": []
}
```

### Optional API Params

The following parameters are available on most API endpoint and used for pagination
for if there are a lot of results.

+ `apikey` (string) - Your StayWoke API Key
+ `fields` (string) - Comma Separated List of fields you want in the response.  By default all public fields will be returned, but if you only need specific fields you can greatly simplify your API response by specifying them.
+ `pageSize` (number, optional) - How many results to return in a single API call. Defaults to 30
+ `page` (number, optional) - If there is more than one page of results, you can set which page to load here
+ `sort` (optional, string, `population_rank`) - Comma Separated List of fields you want to sort by
+ `order` (optional, string, `asc`) - Comma Separated List of Order Methods
+ `pretty` (optional) - If you want to format the JSON response to be human readable, just add a `pretty` param in the API call ( it does not need a value )


# Group City Council Endpoints

The following endpoints are for specific data related to City Council members.  Currently we only have City Council Data for New York, NY.

## City Council [/city-council/{?apikey,page,pageSize,fields,sort,order,zipcode,latitude,longitude,state,district,atLarge,vacant,title,party,name,gender,ethnicity,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for City Council members using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,name`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + district (optional, number, `3`) - District of Representative ( not always available )
    + atLarge (optional, boolean, `true`) - Representative is considered At-Large
    + vacant (optional, boolean, `true`) - Representative Seat is Vacant
    + title (optional, enum, `district-attorney`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=district-attorney,mayor`

        + Values
            + `alderman`
            + `chairman`
            + `city-attorney`
            + `city-auditor`
            + `city-controller`
            + `commissioner`
            + `council-president`
            + `councilor`
            + `deputy-leader`
            + `deputy-mayor-pro-tem`
            + `deputy-majority-leader`
            + `deputy-majority-whip`
            + `deputy-minority-leader`
            + `deputy-minority-whip`
            + `district-attorney`
            + `majority-leader`
            + `majority-whip`
            + `mayor`
            + `mayor-pro-tem`
            + `minority-leader`
            + `minority-whip`
            + `representative`
            + `supervisor`
            + `president`
            + `president-pro-tem`
            + `vice-chairman`
            + `vice-mayor`
            + `vice-president`
            + `vacant`
    + party (optional, enum, `democrat`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Bill De Blasio`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `african-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Example: Mayor New York [GET]

This example fetches details for the state `NY` and title `mayor`.

+ Request
    + Parameters
        + state: NY
        + title: mayor

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + state: NY
        + title: mayor

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "address_city": "New York",
                  "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                  "address_number": "250",
                  "address_prefix": null,
                  "address_sec_unit_num": "1823",
                  "address_sec_unit_type": "Suite",
                  "address_state": "NY",
                  "address_street": "Broadway",
                  "address_type": null,
                  "address_zipcode": "10007",
                  "age": 55,
                  "aliases": [
                    "Democrat Bill De Blasio",
                    "Democrat De Blasio",
                    "Mayor Bill De Blasio",
                    "Mayor De Blasio",
                    "Bill De Blasio [D]",
                    "Bill De Blasio (D)"
                  ],
                  "at_large": false,
                  "background_url": "https://cdn.staywoke.org/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                  "city_council_calendar_url": null,
                  "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                  "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                  "city_council_url": "http://council.nyc.gov/districts/",
                  "city_government_url": "http://www.nycgo.com",
                  "city_name": "New York",
                  "city_name_slug": "new-york",
                  "staywoke_url": "https://staywoke.org/city-council/new-york/new-york/councilor/bill-de-blasio",
                  "date_of_birth": "1961-05-08",
                  "district": null,
                  "email": null,
                  "entered_office": "2014-01-01",
                  "ethnicity": "white-american",
                  "facebook_url": "https://www.facebook.com/bill.deblasio/",
                  "first_name": "Bill",
                  "gender": "male",
                  "goes_by": null,
                  "last_name": "De Blasio",
                  "latitude": 40.6643,
                  "longitude": -73.9385,
                  "middle_name": "Bill",
                  "name": "Bill De Blasio",
                  "name_slug": "bill-de-blasio",
                  "name_suffix": null,
                  "party": "democrat",
                  "phone": "212-788-3000",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/bill-de-blasio.jpg",
                  "photo_url_sizes": {
                    "size_64x64": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/64x64/bill-de-blasio.jpg",
                    "size_128x128": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/128x128/bill-de-blasio.jpg",
                    "size_256x256": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/256x256/bill-de-blasio.jpg",
                    "size_512x512": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/bill-de-blasio.jpg",
                    "size_1024x1024": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/1024x1024/bill-de-blasio.jpg"
                  },
                  "population": 8550405,
                  "pronunciation": null,
                  "state_code": "NY",
                  "state_code_slug": "ny",
                  "state_name": "New York",
                  "state_name_slug": "new-york",
                  "term_end": "2017-12-31",
                  "title": "mayor",
                  "twitter_handle": "BilldeBlasio",
                  "twitter_url": "https://twitter.com/BilldeBlasio",
                  "vacant": false
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }

## City Council [/city-council/{state}/{city}{?apikey,page,pageSize,fields,sort,order}]

Search for City Council members using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,name`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + state (required, string, `NY`) - Unique Zip Code
    + city (required, string, `New York`) - Unique Zip Code

### Example: New York City Council [GET]

This example fetches details for the state `NY` and city `New York` with only the `name,title,photo_url` fields.

+ Request
    + Parameters
        + state: `NY`
        + city: `New York`
        + fields: `name,title,photo_url`

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + state: `NY`
        + city: `New York`
        + fields: `name,title,photo_url`

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 53,
                "showing": 30,
                "pages": 2,
                "page": 1
              },
              "data": [
                {
                  "name": "Daniel Garodnick",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/daniel-garodnick.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Inez Dickens",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/inez-dickens.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Andrew Cohen",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/andrew-cohen.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Vanessa Gibson",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/vanessa-gibson.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Barry Grodenchik",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/barry-grodenchik.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Ruben Wills",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/ruben-wills.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Elizabeth Crowley",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/elizabeth-crowley.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Laurie Cumbo",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/laurie-cumbo.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Inez Barron",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/inez-barron.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Mark Treyger",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/mark-treyger.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Ben Kallos",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/ben-kallos.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Andy King",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/andy-king.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Rafael Salamanca",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/rafael-salamanca.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Rory Lancman",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/rory-lancman.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Karen Koslowitz",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/karen-koslowitz.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Donovan Richards",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/donovan-richards.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Robert Cornegy",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/robert-cornegy.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Vincent Gentile",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/vincent-gentile.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Chaim Deutsch",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/chaim-deutsch.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Steven Matteo",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/steven-matteo.jpg",
                  "title": "minority-leader"
                },
                {
                  "name": "Margaret Chin",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/margaret-chin.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Helen Rosenthal",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/helen-rosenthal.jpg",
                  "title": "councilor"
                },
                {
                  "name": "James Vacca",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/james-vacca.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Annabel Palma",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/annabel-palma.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Peter Koo",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/peter-koo.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Daniel Dromm",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/daniel-dromm.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Eric Ulrich",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/eric-ulrich.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Rafael Espinal",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/rafael-espinal.jpg",
                  "title": "councilor"
                },
                {
                  "name": "David Greenfield",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/david-greenfield.jpg",
                  "title": "councilor"
                },
                {
                  "name": "Deborah Rose",
                  "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/deborah-rose.jpg",
                  "title": "deputy-majority-leader"
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }


# Group Geolocation Endpoints

The following endpoints are for specific data related to Zip Codes and Geolocation data.

## Zip Code [/geolocation/zipcode/{zipcode}{?apikey,page,pageSize,fields,sort,order}]

Fetch details for a Specific Zip Code

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,state,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city_number`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + zipcode (required, string, `97232`) - Unique Zip Code

### Example: Location Info for 97232 [GET]

This example fetches details for the zip code `97232`.

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [],
                  "area_codes": [
                    "971",
                    "503"
                  ],
                  "city": "Portland",
                  "county": "Multnomah County",
                  "estimated_population": 10780,
                  "location": {
                    "lat": 45.5295528,
                    "lon": -122.6463158
                  },
                  "state": "OR",
                  "timezone": "America/Los_Angeles",
                  "zipcode": "97232"
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }

## IP Address [/geolocation/ip/{ipaddress}{?apikey,page,pageSize,fields,sort,order}]

Fetch details for a Specific IP Address

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city_continent`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + ipaddress (required, string, `97.96.74.114`) - IP Address to Lookup ( Defaults to Requester's IP Address )

### Example: Location Info for 97.96.74.114 [GET]

This example fetches details for the ip address `97.96.74.114`.

+ Request
    + Parameters
        + ipaddress: 97.96.74.114

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + ipaddress: 97.96.74.114

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "city": {
                  "geoname_id": 4171563,
                  "names": {
                    "en": "St. Petersburg"
                  }
                },
                "continent": {
                  "code": "NA",
                  "geoname_id": 6255149,
                  "names": {
                    "de": "Nordamerika",
                    "en": "North America",
                    "es": "Norteamérica",
                    "fr": "Amérique du Nord",
                    "ja": "北アメリカ",
                    "pt-BR": "América do Norte",
                    "ru": "Северная Америка",
                    "zh-CN": "北美洲"
                  }
                },
                "country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "location": {
                  "accuracy_radius": 1,
                  "latitude": 27.7723,
                  "longitude": -82.6341,
                  "metro_code": 539,
                  "time_zone": "America/New_York"
                },
                "postal": {
                  "code": "33701"
                },
                "registered_country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "subdivisions": [
                  {
                    "geoname_id": 4155751,
                    "iso_code": "FL",
                    "names": {
                      "en": "Florida",
                      "es": "Florida",
                      "fr": "Floride",
                      "ja": "フロリダ州",
                      "pt-BR": "Flórida",
                      "ru": "Флорида",
                      "zh-CN": "佛罗里达州"
                    }
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }

## Geolocation [/geolocation/{?apikey,page,pageSize,fields,sort,order,zipcode,city,county,state,areaCode,timezone,minPopulation,maxPopulation,latitude,longitude,distance}]

Get Location Specific Data using any combination of filters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - Unique Zip Code
    + city (optional, string, `Portland`) - City to use as Filter
    + county (optional, string, `Multnomah`) - County to use as Filter
    + state (optional, string, `OR`) - State to use as Filter
    + areaCode (optional, number, `573`) - Area Code of Phone Number to use as Filter
    + timezone (optional, string, `America/New_York`) - Time Zone of Location
    + minPopulation (optional, number, `10000`) - Minimum Population of Location
    + maxPopulation (optional, number, `1000000`) - Maximum Population of Location
    + latitude (optional, number, `45.542094`) - Latitude to base Location on
    + longitude (optional, number, `-122.9346037`) - Longitude to base Location on
    + distance (optional, string, `25mi`) - Distance from Latitude & Longitude

### Example: Location Info for Saint Louis, MO [GET]

This example fetches details for the city of __Saint Louis, MO__ using the `state` and `city` parameters.

+ Request
    + Parameters
        + state: MO
        + city: Saint Louis

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + state: MO
        + city: Saint Louis

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 3,
                "showing": 3,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [
                    "Saint Peters",
                    "St Peters"
                  ],
                  "area_codes": [
                    "314",
                    "636"
                  ],
                  "city": "Saint Charles",
                  "county": "St Charles County",
                  "estimated_population": 43920,
                  "location": {
                    "lat": 38.7250374,
                    "lon": -90.554149
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63303"
                },
                {
                  "alternate_city_names": [
                    "Cottleville",
                    "Saint Peters",
                    "St Peters",
                    "Weldon Spring"
                  ],
                  "area_codes": [
                    "314",
                    "636"
                  ],
                  "city": "Saint Charles",
                  "county": "St Charles County",
                  "estimated_population": 40840,
                  "location": {
                    "lat": 38.7036005,
                    "lon": -90.6488505
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63304"
                },
                {
                  "alternate_city_names": [
                    "Lake St Louis",
                    "O Fallon"
                  ],
                  "area_codes": [
                    "636"
                  ],
                  "city": "Lake Saint Louis",
                  "county": "St Charles County",
                  "estimated_population": 22230,
                  "location": {
                    "lat": 38.786556,
                    "lon": -90.7818089
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63367"
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }


# Group Government Endpoints

This returns data for both the `/governor`, `/house`, `/senate` & `/state` endpoints with one call.

## Government [/government/{?apikey,page,pageSize,fields,zipcode,latitude,longitude,state}]

Search for House Representative using any combination of search parameters.  You can also add any of the search parameters from either of the `/senate` & `/house` endpoints.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `house,senate`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )

### Example: House & Senate in Zip Code 97232 [GET]

+ Request
    + Parameters
        + latitude: `40.75368539999999`
        + longitude: `-73.9991637`

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + latitude: `40.75368539999999`
        + longitude: `-73.9991637`

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "city_council": [
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 55,
                    "aliases": [
                      "Democrat Bill De Blasio",
                      "Democrat De Blasio",
                      "Mayor Bill De Blasio",
                      "Mayor De Blasio",
                      "Bill De Blasio [D]",
                      "Bill De Blasio (D)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.staywoke.org/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "staywoke_url": "https://staywoke.org/city-council/new-york/new-york/councilor/bill-de-blasio",
                    "date_of_birth": "1961-05-08",
                    "district": null,
                    "email": null,
                    "entered_office": "2014-01-01",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/bill.deblasio/",
                    "first_name": "Bill",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "De Blasio",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Bill",
                    "name": "Bill De Blasio",
                    "name_slug": "bill-de-blasio",
                    "name_suffix": null,
                    "party": "democrat",
                    "phone": "212-788-3000",
                    "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/bill-de-blasio.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/64x64/bill-de-blasio.jpg",
                      "size_128x128": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/128x128/bill-de-blasio.jpg",
                      "size_256x256": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/256x256/bill-de-blasio.jpg",
                      "size_512x512": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/bill-de-blasio.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/1024x1024/bill-de-blasio.jpg"
                    },
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31",
                    "title": "mayor",
                    "twitter_handle": "BilldeBlasio",
                    "twitter_url": "https://twitter.com/BilldeBlasio",
                    "vacant": false
                  },
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 35,
                    "aliases": [
                      "Democrat Corey Johnson",
                      "Democrat Johnson",
                      "Councilor Corey Johnson",
                      "Councilor Johnson",
                      "Corey Johnson [D]",
                      "Corey Johnson (D)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.staywoke.org/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "staywoke_url": "https://staywoke.org/city-council/new-york/new-york/councilor/corey-johnson",
                    "date_of_birth": "1982-04-28",
                    "district": 3,
                    "email": "district3@council.nyc.gov",
                    "entered_office": "2014-01-01",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/corey.d.johnson",
                    "first_name": "Corey",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "Johnson",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Corey",
                    "name": "Corey Johnson",
                    "name_slug": "corey-johnson",
                    "name_suffix": null,
                    "party": "democrat",
                    "phone": "212-564-7757",
                    "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/corey-johnson.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/64x64/corey-johnson.jpg",
                      "size_128x128": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/128x128/corey-johnson.jpg",
                      "size_256x256": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/256x256/corey-johnson.jpg",
                      "size_512x512": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/corey-johnson.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/1024x1024/corey-johnson.jpg"
                    },
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31",
                    "title": "councilor",
                    "twitter_handle": "CoreyinNYC",
                    "twitter_url": "https://twitter.com/CoreyinNYC",
                    "vacant": false
                  },
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 62,
                    "aliases": [
                      "Independent Cyrus Vance",
                      "Independent Vance",
                      "District Attorney Cyrus Vance",
                      "District Attorney Vance",
                      "Cyrus Vance [I]",
                      "Cyrus Vance (I)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.staywoke.org/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "staywoke_url": "https://staywoke.org/city-council/new-york/new-york/councilor/cyrus-vance",
                    "date_of_birth": "1954-06-14",
                    "district": null,
                    "email": null,
                    "entered_office": "2010-01-01",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/ManhattanDistrictAttorney",
                    "first_name": "Cyrus",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "Vance",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Cyrus",
                    "name": "Cyrus Vance",
                    "name_slug": "cyrus-vance",
                    "name_suffix": null,
                    "party": "independent",
                    "phone": "212-335-9000",
                    "photo_url": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/cyrus-vance.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/64x64/cyrus-vance.jpg",
                      "size_128x128": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/128x128/cyrus-vance.jpg",
                      "size_256x256": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/256x256/cyrus-vance.jpg",
                      "size_512x512": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/512x512/cyrus-vance.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/city-council/ny/new-york/headshots/1024x1024/cyrus-vance.jpg"
                    },
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31",
                    "title": "district-attorney",
                    "twitter_handle": "ManhattanDA",
                    "twitter_url": "https://twitter.com/ManhattanDA",
                    "vacant": false
                  }
                ],
                "governor": [
                  {
                    "address_city": "Albany",
                    "address_complete": "Governor of New York State, NYS State Capitol Building, Albany, NY 12224",
                    "address_number": null,
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "NY",
                    "address_street": "Governor",
                    "address_type": "Street",
                    "address_zipcode": "12224",
                    "age": 59,
                    "aliases": [
                      "Democrat Andrew Cuomo",
                      "Democrat Cuomo",
                      "Governor Andrew Cuomo",
                      "Governor Cuomo",
                      "Gov. Andrew Cuomo",
                      "Gov. Cuomo",
                      "Andrew Cuomo [D]",
                      "Andrew Cuomo (D)"
                    ],
                    "biography": "Andrew Mark Cuomo (born December 6, 1957) is an American politician and attorney who has been the 56th Governor of New York since January 1, 2011. A member of the Democratic Party, he was elected in 2010, holding the same position his father, Mario Cuomo, held for three terms from 1983 to 1995.",
                    "staywoke_url": "https://staywoke.org/us-governor/new-york/governor/andrew-cuomo",
                    "contact_page": "http://www.governor.ny.gov/contact-iframe",
                    "date_of_birth": "1957-12-06",
                    "entered_office": "2011-01-01",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/GovernorAndrewCuomo",
                    "fax": null,
                    "first_name": "Andrew",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "Cuomo",
                    "latitude": 42.6497791,
                    "longitude": -73.7618584,
                    "middle_name": "Mark",
                    "name": "Andrew Cuomo",
                    "name_slug": "andrew-cuomo",
                    "name_suffix": null,
                    "openly_lgbtq": null,
                    "party": "democrat",
                    "phone": "518-474-8390",
                    "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/andrew-cuomo.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/us-governors/headshots/64x64/andrew-cuomo.jpg",
                      "size_128x128": "https://cdn.staywoke.org/us-governors/headshots/128x128/andrew-cuomo.jpg",
                      "size_256x256": "https://cdn.staywoke.org/us-governors/headshots/256x256/andrew-cuomo.jpg",
                      "size_512x512": "https://cdn.staywoke.org/us-governors/headshots/512x512/andrew-cuomo.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/us-governors/headshots/1024x1024/andrew-cuomo.jpg"
                    },
                    "pronunciation": "AN-droo KWOH-moh",
                    "religion": "roman-catholic",
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2019-01-01",
                    "title": "governor",
                    "twitter_handle": "nygovcuomo",
                    "twitter_url": "https://twitter.com/nygovcuomo",
                    "votesmart": "45083",
                    "votesmart_url": "http://votesmart.org/candidate/45083",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/45083",
                      "bio": "http://votesmart.org/candidate/biography/45083",
                      "votes": "http://votesmart.org/candidate/key-votes/45083",
                      "positions": "http://votesmart.org/candidate/political-courage-test/45083",
                      "ratings": "http://votesmart.org/candidate/evaluations/45083",
                      "speeches": "http://votesmart.org/candidate/public-statements/45083",
                      "funding": "http://votesmart.org/candidate/campaign-finance/45083"
                    },
                    "website": "http://www.governor.ny.gov/"
                  }
                ],
                "house": [
                  {
                    "address_city": "Washington",
                    "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
                    "address_number": "2436",
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "Rayburn Hob",
                    "address_type": null,
                    "address_zipcode": "20515",
                    "age": 69,
                    "aliases": [
                      "Democrat Jerrold Nadler",
                      "Democrat Nadler",
                      "Representative Jerrold Nadler",
                      "Representative Nadler",
                      "Rep. Jerrold Nadler",
                      "Rep. Nadler",
                      "Jerrold Nadler [D]",
                      "Jerrold Nadler (D)"
                    ],
                    "at_large": false,
                    "biography": "Jerrold Nadler, a Representative from New York; born in Brooklyn, Kings County, New York, June 13, 1947; graduated from Stuyvesant High School, New York, N.Y., 1965; B.A., Columbia University, New York, N.Y., 1969; J.D., Fordham University, New York, N.Y., 1978; legislative assistant, New York state assembly, 1972; member of the New York state assembly, 1977-1992; elected as a Democrat to the One Hundred Second Congress, by special election, to fill the vacancy caused by the death of United States Representative Theodore S. Weiss, and to the thirteen succeeding Congresses (November 3, 1992-present).",
                    "bioguide": "N000002",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=N000002",
                    "staywoke_url": "https://staywoke.org/us-house/new-york/representative/jerrold-nadler",
                    "contact_page": "https://jerroldnadler.house.gov/forms/writeyourrep/default.aspx",
                    "date_of_birth": "1947-06-13",
                    "district": 10,
                    "entered_office": "1992-11-03",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/CongressmanNadler",
                    "fax": null,
                    "fec": "H2NY17071",
                    "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H2NY17071",
                    "first_name": "Jerrold",
                    "gender": "male",
                    "goes_by": "Jerry",
                    "google_entity_id": "kg:/m/03tk11",
                    "last_name": "Nadler",
                    "latitude": 38.8863235,
                    "longitude": -77.011373,
                    "maplight": "385",
                    "maplight_url": "http://maplight.org/us-congress/legislator/385",
                    "middle_name": null,
                    "name": "Jerrold Nadler",
                    "name_slug": "jerrold-nadler",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00000939",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00000939",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00000939",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00000939",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00000939",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00000939",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00000939",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00000939",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00000939",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00000939",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00000939",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00000939"
                    },
                    "party": "democrat",
                    "phone": "202-225-5635",
                    "photo_url": "https://cdn.staywoke.org/us-house/headshots/512x512/jerrold-nadler.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/us-house/headshots/64x64/jerrold-nadler.jpg",
                      "size_128x128": "https://cdn.staywoke.org/us-house/headshots/128x128/jerrold-nadler.jpg",
                      "size_256x256": "https://cdn.staywoke.org/us-house/headshots/256x256/jerrold-nadler.jpg",
                      "size_512x512": "https://cdn.staywoke.org/us-house/headshots/512x512/jerrold-nadler.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/us-house/headshots/1024x1024/jerrold-nadler.jpg"
                    },
                    "pronunciation": "JAIR-ee NADD-ler",
                    "religion": "jewish",
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2019-01-03",
                    "thomas": "850",
                    "title": "representative",
                    "twitter_handle": "RepJerryNadler",
                    "twitter_url": "https://twitter.com/RepJerryNadler",
                    "vacant": false,
                    "votesmart": "26980",
                    "votesmart_url": "http://votesmart.org/candidate/26980",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/26980",
                      "bio": "http://votesmart.org/candidate/biography/26980",
                      "votes": "http://votesmart.org/candidate/key-votes/26980",
                      "positions": "http://votesmart.org/candidate/political-courage-test/26980",
                      "ratings": "http://votesmart.org/candidate/evaluations/26980",
                      "speeches": "http://votesmart.org/candidate/public-statements/26980",
                      "funding": "http://votesmart.org/candidate/campaign-finance/26980"
                    },
                    "website": "https://jerroldnadler.house.gov",
                    "wikidata": "Q505598",
                    "wikidata_url": "https://www.wikidata.org/wiki/Q505598"
                  }
                ],
                "senate": [
                  {
                    "address_city": "Washington",
                    "address_complete": "322 Hart, Washington, DC 20510",
                    "address_number": null,
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "322 Hart",
                    "address_type": "Building",
                    "address_zipcode": "20510",
                    "age": 66,
                    "aliases": [
                      "Democrat Charles Schumer",
                      "Democrat Schumer",
                      "Senator Charles Schumer",
                      "Senator Schumer",
                      "Sen. Charles Schumer",
                      "Sen. Schumer",
                      "Charles Schumer [D]",
                      "Charles Schumer (D)",
                      "Senate Minority Leader Charles Schumer",
                      "Senate Minority Leader Schumer",
                      "Minority Leader Charles Schumer",
                      "Minority Leader Schumer"
                    ],
                    "biography": "Charles Schumer, a Senator and a Representative from New York; born in Brooklyn, N.Y., November 23, 1950; attended the public schools; graduated from Madison High School, Brooklyn 1967; A.B., Harvard University 1971; J.D., Harvard Law School 1974; admitted to the New York bar in 1975; served in the New York State Assembly 1975-1980; elected as a Democrat to the Ninety-seventh and to the eight succeeding Congresses (January 3, 1981-January 3, 1999); was not a candidate in 1998 for reelection to the U.S. House of Representatives, but was elected as a Democrat to the United States Senate in 1998; reelected in 2004 and again in 2010 for the term ending January 3, 2017; chair, Democratic Senatorial Campaign Committee (2005-2008); chair, Democratic Policy and Communications Committee (2011-); chair, Joint Economic Committee (One Hundred Tenth and One Hundred Eleventh Congresses), Committee on Rules and Administration (One Hundred Eleventh to One Hundred Thirteenth Congresses).",
                    "bioguide": "S000148",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=S000148",
                    "staywoke_url": "https://staywoke.org/us-senate/new-york/senator/charles-schumer",
                    "class": "III",
                    "contact_page": "https://www.schumer.senate.gov/contact/email-chuck",
                    "date_of_birth": "1950-11-23",
                    "entered_office": "1999-01-03",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/senschumer/",
                    "fax": "202-228-3027",
                    "fec": null,
                    "fec_url": null,
                    "first_name": "Charles",
                    "gender": "male",
                    "goes_by": "Chuck",
                    "google_entity_id": null,
                    "last_name": "Schumer",
                    "latitude": 38.892839,
                    "longitude": -77.004356,
                    "maplight": null,
                    "maplight_url": null,
                    "middle_name": "E.",
                    "name": "Charles Schumer",
                    "name_slug": "charles-schumer",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00001093",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00001093",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00001093",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00001093",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00001093",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00001093",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00001093",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00001093",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00001093",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00001093",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00001093",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00001093"
                    },
                    "party": "democrat",
                    "phone": "202-224-2841",
                    "photo_url": "https://cdn.staywoke.org/us-senate/headshots/512x512/charles-schumer.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/us-senate/headshots/64x64/charles-schumer.jpg",
                      "size_128x128": "https://cdn.staywoke.org/us-senate/headshots/128x128/charles-schumer.jpg",
                      "size_256x256": "https://cdn.staywoke.org/us-senate/headshots/256x256/charles-schumer.jpg",
                      "size_512x512": "https://cdn.staywoke.org/us-senate/headshots/512x512/charles-schumer.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/us-senate/headshots/1024x1024/charles-schumer.jpg"
                    },
                    "pronunciation": "CHUHK SHOO-mer",
                    "religion": "jewish",
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2023-01-03",
                    "thomas": "1036",
                    "title": "senate-minority-leader",
                    "twitter_handle": "SenSchumer",
                    "twitter_url": "https://twitter.com/SenSchumer",
                    "votesmart": "26976",
                    "votesmart_url": "http://votesmart.org/candidate/26976",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/26976",
                      "bio": "http://votesmart.org/candidate/biography/26976",
                      "votes": "http://votesmart.org/candidate/key-votes/26976",
                      "positions": "http://votesmart.org/candidate/political-courage-test/26976",
                      "ratings": "http://votesmart.org/candidate/evaluations/26976",
                      "speeches": "http://votesmart.org/candidate/public-statements/26976",
                      "funding": "http://votesmart.org/candidate/campaign-finance/26976"
                    },
                    "website": "http://www.schumer.senate.gov",
                    "wikidata": null,
                    "wikidata_url": null
                  },
                  {
                    "address_city": "Washington",
                    "address_complete": "478 Russell, Washington, DC 20510",
                    "address_number": null,
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "478 Russell",
                    "address_type": "Building",
                    "address_zipcode": "20510",
                    "age": 50,
                    "aliases": [
                      "Democrat Kirsten Gillibrand",
                      "Democrat Gillibrand",
                      "Senator Kirsten Gillibrand",
                      "Senator Gillibrand",
                      "Sen. Kirsten Gillibrand",
                      "Sen. Gillibrand",
                      "Kirsten Gillibrand [D]",
                      "Kirsten Gillibrand (D)"
                    ],
                    "biography": "Kirsten Gillibrand, a Senator and a Representative from New York; born in Albany, Albany County, N.Y., December 9, 1966; A.B., Dartmouth College, Hanover, N.H., 1988; J.D., University of California Los Angeles, Los Angeles, Calif., 1991; lawyer, private practice; special counsel, United States Housing and Urban Development; elected as a Democrat to the One Hundred Tenth Congress and to the succeeding Congress, and served from January 3, 2007, to January 26, 2009, when she resigned to become a U.S. Senator; appointed January 23, 2009, to fill the vacancy caused by the resignation of Hillary Clinton; appointment took effect upon her resignation from the House of Representatives on January 26, 2009; took the oath of office on January 27, 2009; elected in 2010 in a special election for the term ending January 3, 2013; reelected in 2012 for the term ending January 3, 2019.",
                    "bioguide": "G000555",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=G000555",
                    "staywoke_url": "https://staywoke.org/us-senate/new-york/senator/kirsten-gillibrand",
                    "class": "I",
                    "contact_page": "https://www.gillibrand.senate.gov/contact/",
                    "date_of_birth": "1966-12-09",
                    "entered_office": "2009-01-26",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/KirstenGillibrand/",
                    "fax": "202-228-0282",
                    "fec": null,
                    "fec_url": null,
                    "first_name": "Kirsten",
                    "gender": "female",
                    "goes_by": null,
                    "google_entity_id": null,
                    "last_name": "Gillibrand",
                    "latitude": 38.892542,
                    "longitude": -77.007415,
                    "maplight": null,
                    "maplight_url": null,
                    "middle_name": "E.",
                    "name": "Kirsten Gillibrand",
                    "name_slug": "kirsten-gillibrand",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00027658",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00027658",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00027658",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00027658",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00027658",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00027658",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00027658",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00027658",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00027658",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00027658",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00027658",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00027658"
                    },
                    "party": "democrat",
                    "phone": "202-224-4451",
                    "photo_url": "https://cdn.staywoke.org/us-senate/headshots/512x512/kirsten-gillibrand.jpg",
                    "photo_url_sizes": {
                      "size_64x64": "https://cdn.staywoke.org/us-senate/headshots/64x64/kirsten-gillibrand.jpg",
                      "size_128x128": "https://cdn.staywoke.org/us-senate/headshots/128x128/kirsten-gillibrand.jpg",
                      "size_256x256": "https://cdn.staywoke.org/us-senate/headshots/256x256/kirsten-gillibrand.jpg",
                      "size_512x512": "https://cdn.staywoke.org/us-senate/headshots/512x512/kirsten-gillibrand.jpg",
                      "size_1024x1024": "https://cdn.staywoke.org/us-senate/headshots/1024x1024/kirsten-gillibrand.jpg"
                    },
                    "pronunciation": "KEER-stin JILL-uh-brand",
                    "religion": "roman-catholic",
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2019-01-03",
                    "thomas": "1866",
                    "title": "senator",
                    "twitter_handle": "SenGillibrand",
                    "twitter_url": "https://twitter.com/SenGillibrand",
                    "votesmart": "65147",
                    "votesmart_url": "http://votesmart.org/candidate/65147",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/65147",
                      "bio": "http://votesmart.org/candidate/biography/65147",
                      "votes": "http://votesmart.org/candidate/key-votes/65147",
                      "positions": "http://votesmart.org/candidate/political-courage-test/65147",
                      "ratings": "http://votesmart.org/candidate/evaluations/65147",
                      "speeches": "http://votesmart.org/candidate/public-statements/65147",
                      "funding": "http://votesmart.org/candidate/campaign-finance/65147"
                    },
                    "website": "http://www.gillibrand.senate.gov",
                    "wikidata": null,
                    "wikidata_url": null
                  }
                ],
                "state": {
                  "admission_date": "1788-07-26",
                  "admission_number": 11,
                  "capital_city": "Albany",
                  "capital_url": "http://www.albanyny.org",
                  "staywoke_url": "https://staywoke.org/state/new-york",
                  "constitution_url": "https://www.dos.ny.gov/info/constitution.htm",
                  "facebook_url": null,
                  "landscape": {
                    "size_640x360": "https://cdn.staywoke.org/us-states/backgrounds/640x360/landscape/new-york.jpg",
                    "size_960x540": "https://cdn.staywoke.org/us-states/backgrounds/960x540/landscape/new-york.jpg",
                    "size_1280x720": "https://cdn.staywoke.org/us-states/backgrounds/1280x720/landscape/new-york.jpg",
                    "size_1920x1080": "https://cdn.staywoke.org/us-states/backgrounds/1920x1080/landscape/new-york.jpg"
                  },
                  "landscape_background_url": "https://cdn.staywoke.org/us-states/backgrounds/1280x720/landscape/new-york.jpg",
                  "map": {
                    "large": "https://cdn.staywoke.org/us-states/maps/new-york-large.png",
                    "small": "https://cdn.staywoke.org/us-states/maps/new-york-small.png"
                  },
                  "map_image_url": "https://cdn.staywoke.org/us-states/maps/new-york-large.png",
                  "nickname": "Empire State",
                  "population": 19651127,
                  "population_rank": 3,
                  "skyline": {
                    "size_640x360": "https://cdn.staywoke.org/us-states/backgrounds/640x360/skyline/new-york.jpg",
                    "size_960x540": "https://cdn.staywoke.org/us-states/backgrounds/960x540/skyline/new-york.jpg",
                    "size_1280x720": "https://cdn.staywoke.org/us-states/backgrounds/1280x720/skyline/new-york.jpg",
                    "size_1920x1080": "https://cdn.staywoke.org/us-states/backgrounds/1920x1080/skyline/new-york.jpg"
                  },
                  "skyline_background_url": "https://cdn.staywoke.org/us-states/backgrounds/1280x720/skyline/new-york.jpg",
                  "state_code": "NY",
                  "state_code_slug": "ny",
                  "state_flag": {
                    "large": "https://cdn.staywoke.org/us-states/flags/new-york-large.png",
                    "small": "https://cdn.staywoke.org/us-states/flags/new-york-small.png"
                  },
                  "state_flag_url": "https://cdn.staywoke.org/us-states/flags/new-york-large.png",
                  "state_name": "New York",
                  "state_name_slug": "new-york",
                  "state_seal": {
                    "large": "https://cdn.staywoke.org/us-states/seals/new-york-large.png",
                    "small": "https://cdn.staywoke.org/us-states/seals/new-york-small.png"
                  },
                  "state_seal_url": "https://cdn.staywoke.org/us-states/seals/new-york-large.png",
                  "twitter_handle": "nygov",
                  "twitter_url": "https://twitter.com/nygov",
                  "website": "http://www.ny.gov"
                }
              },
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }


# Group Governor Endpoints

View Contact Information for United States Governors, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## Governor [/governor/{?apikey,page,pageSize,fields,sort,order,zipcode,latitude,longitude,state,title,party,name,gender,ethnicity,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for Governors using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,name`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + title (optional, enum, `governor`)
    + party (optional, enum, `democrat`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Bill De Blasio`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `african-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Example: Governors Younger than 50 Years Old [GET]

+ Request
    + Parameters
        + maxAge: 50
        + fields: name,age,photo_url

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + maxAge: 50
        + fields: name,age,photo_url

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 7,
                "showing": 7,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "age": 42,
                  "name": "Christopher Sununu",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/christopher-sununu.jpg"
                },
                {
                  "age": 50,
                  "name": "Matthew Bevin",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/matthew-bevin.jpg"
                },
                {
                  "age": 43,
                  "name": "Eric Greitens",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/eric-greitens.jpg"
                },
                {
                  "age": 49,
                  "name": "Scott Walker",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/scott-walker.jpg"
                },
                {
                  "age": 50,
                  "name": "John Edwards",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/john-edwards.jpg"
                },
                {
                  "age": 48,
                  "name": "Eric Holcomb",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/eric-holcomb.jpg"
                },
                {
                  "age": 45,
                  "name": "Gina Raimondo",
                  "photo_url": "https://cdn.staywoke.org/us-governors/headshots/512x512/gina-raimondo.jpg"
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }


# Group House Endpoints

View Contact Information for United States House Representatives, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## House [/house/{?apikey,page,pageSize,fields,sort,order,zipcode,latitude,longitude,state,district,atLarge,vacant,bioguide,thomas,opensecrets,votesmart,fec,maplight,wikidata,googleEntityId,title,party,name,gender,ethnicity,religion,openlyLGBTQ,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for House Representative using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,district`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + district (optional, number, `3`) - District of Representative ( not always available )
    + atLarge (optional, boolean, `true`) - Representative is considered At-Large
    + vacant (optional, boolean, `true`) - Representative Seat is Vacant
    + bioguide (optional, string, `Y000033`) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string, `1256`) - The numeric ID for this Senator ( not really used anymore )
    + opensecrets (optional, string, `N00007999`) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string, `26717`) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string, `H6AK00045`) - Federal Election Commission ID
    + maplight (optional, string, `525`) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string, `Q1239590`) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string, `kg:/m/024p1k`) - Google Integration
    + title (optional, enum, `house-majority-leader`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=house-majority-leader,house-minority-leader`

        + Values
            + `representative`
            + `house-speaker`
            + `house-majority-leader`
            + `house-majority-whip`
            + `house-minority-leader`
            + `house-minority-whip`
            + `republican-conference-chairman`
            + `republican-policy-committee-chairman`
            + `assistant-democratic-leader`
            + `democratic-caucus-chairman`
    + party (optional, enum, `independent`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Nancy Pelosi`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `asian-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum, `hindu`)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?religion=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum, `transgender`)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?openlyLGBTQ=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Example: District Rep at 45.542094, -122.9346037 [GET]

In this example we will get all House Representatives for `latitude` `45.542094` and `longitude` `-122.9346037`.

+ Request
    + Parameters
        + latitude: `45.542094`
        + longitude: `-122.9346037`

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + latitude: `45.542094`
        + longitude: `-122.9346037`

    + Body

            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "address_city": "Washington",
                  "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
                  "address_number": "2436",
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "Rayburn Hob",
                  "address_type": null,
                  "address_zipcode": "20515",
                  "age": 62,
                  "aliases": [
                    "Democrat Suzanne Bonamici",
                    "Democrat Bonamici",
                    "Representative Suzanne Bonamici",
                    "Representative Bonamici",
                    "Rep. Suzanne Bonamici",
                    "Rep. Bonamici",
                    "Suzanne Bonamici [D]",
                    "Suzanne Bonamici (D)"
                  ],
                  "at_large": false,
                  "biography": "Suzanne Bonamici, a Representative from Oregon; born in Detroit, Wayne County, Mich., October 14, 1954; A.A., Lane Community College, Eugene, Oreg. 1978; B.A., University of Oregon, Eugene, Oreg., 1980; J.D., University of Oregon, Eugene, Oreg., 1983; lawyer, Federal Trade Commission, Washington, D.C.; lawyer, private practice; staff, Oregon state house of representatives, 2001-2006; member of Oregon state house of representatives 2007-2008; member of Oregon state senate, 2008-2011; elected as a Democrat to the One Hundred Twelfth Congress, by special election, to fill the vacancy caused by the resignation of United States Representative David Wu, and reelected to the three succeeding Congresses (January 31, 2012-present).",
                  "bioguide": "B001278",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=B001278",
                  "staywoke_url": "https://staywoke.org/us-house/oregon/representative/suzanne-bonamici",
                  "contact_page": "https://bonamici.house.gov/contact-me/email-me",
                  "date_of_birth": "1954-10-14",
                  "district": 1,
                  "entered_office": "2012-02-07",
                  "ethnicity": "white-american",
                  "facebook_url": "https://www.facebook.com/CongresswomanBonamici",
                  "fax": "202-225-9497",
                  "fec": "H2OR01133",
                  "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H2OR01133",
                  "first_name": "Suzanne",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": "kg:/m/02q453x",
                  "last_name": "Bonamici",
                  "latitude": 38.8863,
                  "longitude": -77.0114,
                  "maplight": "1682",
                  "maplight_url": "http://maplight.org/us-congress/legislator/1682",
                  "middle_name": null,
                  "name": "Suzanne Bonamici",
                  "name_slug": "suzanne-bonamici",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00033474",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00033474",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00033474",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00033474",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00033474",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00033474",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00033474",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00033474",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00033474",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00033474",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00033474",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00033474"
                  },
                  "party": "democrat",
                  "phone": "202-225-0855",
                  "photo_url": "https://cdn.staywoke.org/us-house/headshots/512x512/suzanne-bonamici.jpg",
                  "photo_url_sizes": {
                    "size_64x64": "https://cdn.staywoke.org/us-house/headshots/64x64/suzanne-bonamici.jpg",
                    "size_128x128": "https://cdn.staywoke.org/us-house/headshots/128x128/suzanne-bonamici.jpg",
                    "size_256x256": "https://cdn.staywoke.org/us-house/headshots/256x256/suzanne-bonamici.jpg",
                    "size_512x512": "https://cdn.staywoke.org/us-house/headshots/512x512/suzanne-bonamici.jpg",
                    "size_1024x1024": "https://cdn.staywoke.org/us-house/headshots/1024x1024/suzanne-bonamici.jpg"
                  },
                  "pronunciation": "soo-ZANN bahn-uh-MEE-chee",
                  "religion": "jewish",
                  "state_code": "OR",
                  "state_code_slug": "or",
                  "state_name": "Oregon",
                  "state_name_slug": "oregon",
                  "term_end": "2019-01-03",
                  "thomas": "2092",
                  "title": "representative",
                  "twitter_handle": "RepBonamici",
                  "twitter_url": "https://twitter.com/RepBonamici",
                  "vacant": false,
                  "votesmart": "59641",
                  "votesmart_url": "http://votesmart.org/candidate/59641",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/59641",
                    "bio": "http://votesmart.org/candidate/biography/59641",
                    "votes": "http://votesmart.org/candidate/key-votes/59641",
                    "positions": "http://votesmart.org/candidate/political-courage-test/59641",
                    "ratings": "http://votesmart.org/candidate/evaluations/59641",
                    "speeches": "http://votesmart.org/candidate/public-statements/59641",
                    "funding": "http://votesmart.org/candidate/campaign-finance/59641"
                  },
                  "website": "https://bonamici.house.gov",
                  "wikidata": "Q45946",
                  "wikidata_url": "https://www.wikidata.org/wiki/Q45946"
                }
              ],
              "attribution": {
                "text": "Data Provided by StayWoke",
                "website": "https://staywoke.org",
                "link": "<a href=\"https://staywoke.org\">Data Provided by StayWoke</a>",
                "license": "https://raw.githubusercontent.com/staywoke/api/master/LICENSE",
                "report_bug": "https://github.com/staywoke/api/issues/new",
                "logo": "https://cdn.staywoke.org/common/logo.png",
                "icon": "https://cdn.staywoke.org/common/icon.png"
              }
            }


# Group Legislator Endpoints

The following endpoints convert location data into parameters that can fetch Legislators from Open States.

## Legislators [/legislators/{?apikey,page,pageSize,fields,zipcode,latitude,longitude}]

Search for Legislators in a Given Location.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `results`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - Zip Code ( must be a valid US Zip Code )
    + latitude (optional, string, `45.542094`) - GPS Latitude ( required if also passing over `longitude` )
    + longitude (optional, string, `-122.9346037`) - GPS Longitude ( required if also passing over `latitude` )

### Example: Legislators in Zip Code 97232 [GET]

This example fetches details for the zip code __97232__ using the `zipcode` parameter.

+ Request
    + Parameters
        + zipcode: 97232

[...]
